section#hero-section {
    padding: 100px 0px;
    background: var(--fondo-claro);
    display: flex;
    justify-content: center;

    div#main-content-container {
        display: flex;
        align-items: center;
        gap: 100px;
        padding: 60px;
        width: 60%;
        height: 70vh;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);


        div.col-1 {
            width: 50%;
            align-items: center;

            h1 {
                color: var(--morado-principal);
                font-size: 2.5rem;
            }

            p {
                font-size: 1.3rem;
                line-height: 2.5rem;
            }
        }

        div.col-2 {
            width: 50%;
            height: 100%;

            display: flex;
            flex-direction: column;
            gap: 20px;


            div.login {
                height: 50%;
                border-radius: 20px;
                background: var(--gradient);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                transition: 0.3s;
                padding: 30px;
            }

            div.login:hover {
                box-shadow: 0px 0px 10px var(--morado-principal);
            }

            div.ya-registrado,
            div.no-registrado {

                form {
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                    width: 100%;

                    input {
                        font-size: 1.1rem;
                    }

                    input.namePassword {
                        width: 100%;
                        box-sizing: border-box;
                        display: flex;
                        padding: 10px;
                        border-radius: 10px;
                        border: 0px;
                        outline: none;
                        box-shadow: none;
                    }

                    div.form-buttons {

                        display: flex;
                        gap: 20px;

                        input.btn-enviar {
                            background: var(--gradient);
                            color: white;
                            border-radius: 10px;
                            border: 0px;
                            font-weight: bold;
                            cursor: pointer;
                        }

                        input.btn-enviar,
                        input.btn-cancelar {
                            flex: 1;
                            width: 0;
                            min-width: 0;
                            padding: 10px;
                        }

                        input.btn-enviar {
                            background: var(--gradient);
                            padding: 10px;
                        }

                        input.btn-cancelar {
                            text-align: center;
                            background: white;
                            color: gray;
                            border-radius: 10px;
                            border: 0px;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}