@import "header.css";
@import "theme.css";
@import "main.css";

body,html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif;
}

footer#footer {
  p {
    margin: 0;
    height: 10vh;
    color: white;
    background: var(--footer);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}

